body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;

}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;   
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #287bd4;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

